* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.top-menu {

    padding: 20px;
    background-color: blanchedalmond;

}

.top-menu a {
    margin: auto 10px;
    padding: 5px;
}


.text-input {
    padding: 5px;
    border: 1px solid beige;
}

.error {
    color: red;
}

a {
    /* border: 1px solid red; */
}

pre {
    color: red;
}